<h1>Homes#index</h1>

<table>
  <tr>
    <th>目標摂取カロリー</th><th>現在の摂取カロリー</th><th>不足カロリー</th>
  </tr>
  <tr>
    <td><%= @user_intake_info.target_intake %>cal</td>
    <td><%= @current_intake%>cal</td>
    <td><%= @user_intake_info.target_intake - @current_intake%>cal</td>
  </tr>
</table>

<%= link_to "カロリー登録", new_user_intake_path%>